<% @gossips.each do |gossip| %>
  <div class="box">
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <%= user_avatar_tag gossip.user %>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <div class="container">
            <strong><%= gossip.user.name %></strong>
            <small><%= at_username gossip.user %></small>
          </div>
          <div class="container mb20">
            <small class="has-text-grey-light">
              <%= time_ago_in_words(gossip.created_at) %> <%= t 'datetime.ago' %> <%= t '.in' %> <%= link_to gossip.tag.name, gossip.tag %>
            </small>
          </div>
          <p><%= truncate(gossip, 200) %></p>
        </div>

        <nav class="level is-mobile">
          <div class="level-left is-mobile">
            <% if gossip.comments.any? %>
              <%= link_to gossip, :class => "mr10" do %>
                <i class="fa fa-comment" aria-hidden="true"></i>
                <span class="has-text-info mr30"><%= gossip.comments.count %></span>
              <% end %>
            <% else %>
              <%= link_to gossip, :class => "mr30" do %>
                <i class="fa fa-comment-o" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </div>

          <div class="level-right is-mobile">
            <% if user_signed_in? %>
              <% if is_author?(gossip) || has_role?(:admin) %>
                <%= link_to edit_gossip_path(gossip), :class => "mr30" do %>
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                <% end %>
                <%= link_to gossip, method: :delete, :class => "mr30", data: { confirm: t('.delete_confirm') } do %>
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                <% end %>
              <% end %>

              <% unless is_author?(gossip)  %>
                <%= link_to new_gossip_comment_path(gossip, :author => at_username(gossip.user)), remote: true, :class => "mr30" do %>
                  <i class="fa fa-reply" aria-hidden="true"></i>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </nav>
      </div>
    </article>
  </div>
<% end %>