<div class="column is-half">

  <% if user_signed_in? %>
    <article class="media box">
      <figure class="media-left">
        <p class="image is-64x64">
          <%= user_avatar_tag current_user %>
        </p>
      </figure>
      <div class="media-content">
        <%= render 'gossips/form' %>
      </div>
    </article>
  <% end %>

  <h3 class="title is-3 pt-5"><%= t '.title' %></h3>

  <% @gossips.each do |tweet| %>
    <div class="box">
      <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <%= user_avatar_tag tweet.user %>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <strong><%= tweet.user.name %></strong>
          <small><%= at_username tweet.user %></small>
          <p><%= tweet.message %></p>
        </div>

        <% if user_signed_in? && current_user.id == tweet.user.id %>
          <nav class="level">
            <div class="level-left is-mobile">
              <%= link_to edit_gossip_path(tweet), :class => "mr30" do %>
                <i class="fa fa-pencil" aria-hidden="true"></i>
              <% end %>
              <%= link_to tweet, method: :delete, :class => "mr30", data: { confirm: t('.delete_confirm') } do %>
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              <% end %>
            </div>
          </nav>
        <% end %>

      </div>
      </article>
    </div>
  <% end %>
</div>
