<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= t '.title' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification is-primary global-notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="notification is-danger global-notification">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <nav class="navbar is-info">
      <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do %>
          <h1 class="title is-4"><%= t '.title' %></h1>
        <% end %>

        <div class="navbar-burger burger" data-target="navbar-example">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navbar-example" class="navbar-menu">
        <div class="navbar-end">
          <div class="field is-grouped">

            <p class="control">
              <%= link_to t('.new'), user_signed_in? ? root_path : new_tweet_path, class: "button is-info is-inverted" %>
            </p>

            <% if user_signed_in? %>
              <p>
                <%= link_to current_user.name, edit_user_registration_path, class: "button is-info" %>
              </p>
              <p>
                <%= link_to t('.sign_out'), destroy_user_session_path, :method => :delete, class: "button is-info" %>
              </p>

            <% else %>
              <p class="control">
                <%= link_to t('.sign_in'), new_user_session_path, class: "button is-info" %>
              </p>
              <p class="control">
                <%= link_to t('.sign_up'), new_user_registration_path, class: "button is-info" %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </nav>

    <div>
      <div class="dropdown">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
            <span><%= t '.locale' %></span>
            <span class="icon is-small">
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          </span>
          </button>
        </div>

        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <% alternate_locales do |locale| %>
              <div class="language <%= locale %>"> <%= link_to t(locale), root_path(locale: locale), class: "dropdown-item" %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
